.carousel {
    position: relative;
    height: 450px;
    max-width: 1240px;
    border: 1px #565656 solid;
    border-radius: 20px;
}

.carousel img {
    height: 415px;
    max-width: 1240px;
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
}

.carousel button {
    height: 80px;
    border: none;
    background-color: transparent;
    color: #0275d8;
    position: absolute;
    top: 45%;
    font-size: 40px;
    cursor: pointer;
}
.carousel button :hover {
    opacity: 0.75;
}
#next_btn {
    right: 20px;
}

#prev_btn {
    left: 20px;
    z-index: 200;
}

.imageCounter {
    position: absolute;
    bottom: 10px;
    color: #0275d8;
    left: 50%;
    font-weight: 700;
}